@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);
/* line 17, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "myFont";
  src: url(/fonts/RomeoDn.ttf) format("truetype");
}

@font-face {
  font-family: "titre";
  src: url(/fonts/ELEMENT_.TTF) format("truetype");
}

@font-face {
  font-family: "message";
  src: url(/fonts/fontErreur.ttf) format("truetype");
}

/* line 28, ../sass/erreur.scss */
body {
  background-image: url("../img/fondo.png");
  /*@include susy-grid-background;*/
}
/* line 36, ../sass/erreur.scss */
body header, body section, body footer {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 38, ../sass/erreur.scss */
body header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
/* line 42, ../sass/erreur.scss */
body header div {
  margin: 0 auto;
  width: 95%;
}
/* line 45, ../sass/erreur.scss */
body header div img {
  width: 100%;
  max-height: 2em;
}
/* line 48, ../sass/erreur.scss */
body header nav {
  margin: 0 auto;
  width: 95%;
}
/* line 51, ../sass/erreur.scss */
body header nav ul {
  width: 100%;
}
/* line 55, ../sass/erreur.scss */
body section {
  margin-top: 0em;
}
/* line 58, ../sass/erreur.scss */
body section h1 {
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: "message";
  font-size: 2.2em;
  text-align: center;
  width: 95%;
}
/* line 59, ../sass/erreur.scss */
body section p {
  margin: 0 auto;
  font-family: "titre";
  font-size: 1.5em;
  text-align: center;
  width: 95%;
}
/* line 61, ../sass/erreur.scss */
body section article#annonceId {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 0 auto;
  width: 95%;
}
/* line 66, ../sass/erreur.scss */
body section article#annonceId div {
  margin: 0 auto;
  width: 95%;
}
/* line 70, ../sass/erreur.scss */
body section article#annonceId div h1 {
  font-family: 'titre';
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}
/* line 71, ../sass/erreur.scss */
body section article#annonceId div img, body section article#annonceId div div {
  margin-bottom: 1em;
  width: 100%;
}
/* line 75, ../sass/erreur.scss */
body section article#annonceId div div p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'myFont', serif;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}
/* line 78, ../sass/erreur.scss */
body section article#annonceId div p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'myFont', serif;
  font-size: 1.3em;
  padding: 0.5em;
  text-align: justify;
  width: 100%;
}
/* line 82, ../sass/erreur.scss */
body section div#carousel {
  margin-top: 3.5em;
  width: 100%;
}
/* line 86, ../sass/erreur.scss */
body section div#carousel div img {
  display: block;
  max-height: 5em;
  width: 100%;
}
/* line 96, ../sass/erreur.scss */
body footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10em;
}
/* line 100, ../sass/erreur.scss */
body footer div {
  display: inline-block;
  width: 46%;
  vertical-align: top;
}
/* line 104, ../sass/erreur.scss */
body footer div p {
  padding-left: 1.5em;
}
@media (min-width: 45em) {
  /* line 28, ../sass/erreur.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 115, ../sass/erreur.scss */
  body header div img {
    max-height: 7em;
  }
  /* line 121, ../sass/erreur.scss */
  body section h1 {
    font-size: 8em;
  }
  /* line 122, ../sass/erreur.scss */
  body section p {
    font-size: 3em;
  }
  /* line 125, ../sass/erreur.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 130, ../sass/erreur.scss */
  body footer div {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 132, ../sass/erreur.scss */
  body footer div:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 65em) {
  /* line 28, ../sass/erreur.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 142, ../sass/erreur.scss */
  body header, body section, body footer {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%;
  }
  /* line 144, ../sass/erreur.scss */
  body header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1em;
  }
  /* line 148, ../sass/erreur.scss */
  body header div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 150, ../sass/erreur.scss */
  body header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 153, ../sass/erreur.scss */
  body header nav ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 159, ../sass/erreur.scss */
  body section {
    	 		/*article#slide {
    	 			@include span-columns(10, 12);
    	 			@include push(1);
    	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
    	 			@include border-radius(0.8em);
    	 			max-height: 25em;
    
    	 			div { width: 100%; }
    	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
    	 			div ul li p { text-align: center; }
    	 		}*/
  }
  /* line 161, ../sass/erreur.scss */
  body section h1 {
    font-size: 10em;
  }
  /* line 162, ../sass/erreur.scss */
  body section p {
    font-size: 3em;
  }
  /* line 176, ../sass/erreur.scss */
  body section article#slide {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 7.24638%;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 183, ../sass/erreur.scss */
  body section article#slide div {
    width: 100%;
  }
  /* line 184, ../sass/erreur.scss */
  body section article#slide div ul li img {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 185, ../sass/erreur.scss */
  body section article#slide div ul li p {
    text-align: center;
  }
  /* line 188, ../sass/erreur.scss */
  body section article#annonceId {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 192, ../sass/erreur.scss */
  body section article#annonceId div h1 {
    font-size: 3.2em;
    margin-top: 0;
  }
  /* line 193, ../sass/erreur.scss */
  body section article#annonceId div p {
    margin-top: 1%;
  }
  /* line 197, ../sass/erreur.scss */
  body section div#carousel {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 7.24638%;
    margin-top: 6%;
  }
  /* line 200, ../sass/erreur.scss */
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 204, ../sass/erreur.scss */
  body footer div {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 207, ../sass/erreur.scss */
  body footer div:nth-of-type(2) {
    margin-left: 14.49275%;
  }
}
