/* line 17, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*----------------------------------------------------------*/
/* line 15, ../sass/form.scss */
body {
  background-image: url("../img/fondo.png");
  background-attachment: fixed;
  /*----------------------------------------------------------*/
  /*----------------------------------------------------------*/
}
/* line 20, ../sass/form.scss */
body header, body section, body footer {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-left: 0%;
}
/* line 22, ../sass/form.scss */
body header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
/* line 26, ../sass/form.scss */
body header div {
  margin: 0 auto;
  width: 95%;
}
/* line 30, ../sass/form.scss */
body header div img {
  width: 100%;
  max-height: 5em;
}
/* line 33, ../sass/form.scss */
body header nav {
  margin: 0 auto;
  width: 95%;
}
/* line 36, ../sass/form.scss */
body header nav ul {
  width: 100%;
}
/* line 41, ../sass/form.scss */
body section {
  margin-top: 1em;
}
/* line 44, ../sass/form.scss */
body section h1 {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  text-align: center;
}
/* line 47, ../sass/form.scss */
body section form {
  -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  margin-left: 10.52632%;
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-top: 3%;
}
/* line 54, ../sass/form.scss */
body section form #annonce {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 58, ../sass/form.scss */
body section form #annonce h2 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  text-align: center;
}
/* line 62, ../sass/form.scss */
body section form #annonce label {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  margin: 2% 0% 2% 0%;
}
/* line 66, ../sass/form.scss */
body section form #annonce label input {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 72, ../sass/form.scss */
body section form #annonce label:nth-of-type(4) select {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* line 92, ../sass/form.scss */
body section form #annonce label:nth-of-type(6) textarea {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  resize: none;
}
/* line 102, ../sass/form.scss */
body section form #annonceur {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  margin: 0% 0% 1% 0%;
  /*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
}
/* line 108, ../sass/form.scss */
body section form #annonceur h2 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  text-align: center;
}
/* line 112, ../sass/form.scss */
body section form #annonceur label {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  margin: 2% 0% 2% 0%;
}
/* line 115, ../sass/form.scss */
body section form #annonceur label:nth-of-type(4) {
  margin-left: 0%;
}
/* line 119, ../sass/form.scss */
body section form #annonceur label input {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 131, ../sass/form.scss */
body footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15em;
}
/* line 135, ../sass/form.scss */
body footer div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 138, ../sass/form.scss */
body footer div:nth-of-type(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 139, ../sass/form.scss */
body footer div p {
  padding-left: 1em;
}
@media (min-width: 45em) {
  /* line 148, ../sass/form.scss */
  body header, body section, body footer {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 12.82051%;
  }
  /* line 152, ../sass/form.scss */
  body header div img {
    max-height: 7em;
  }
  /* line 156, ../sass/form.scss */
  body section {
    margin-top: 1em;
  }
  /* line 159, ../sass/form.scss */
  body section h1 {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    text-align: center;
  }
  /* line 162, ../sass/form.scss */
  body section form {
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    margin-left: 0%;
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin-top: 3%;
  }
  /* line 169, ../sass/form.scss */
  body section form #annonce {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin: 1% 0% 1% 0%;
  }
  /* line 174, ../sass/form.scss */
  body section form #annonce h2 {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    text-align: center;
  }
  /* line 178, ../sass/form.scss */
  body section form #annonce label {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    margin: 1.5% 0.5% 1.5% 0.5%;
  }
  /* line 182, ../sass/form.scss */
  body section form #annonce label input {
    width: 100%;
    float: left;
    margin-right: 7.14286%;
  }
  /* line 188, ../sass/form.scss */
  body section form #annonce label:nth-of-type(4) select {
    width: 100%;
    float: left;
    margin-right: 7.14286%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  /* line 208, ../sass/form.scss */
  body section form #annonce label:nth-of-type(6) textarea {
    width: 100%;
    float: left;
    margin-right: 7.14286%;
    resize: none;
  }
  /* line 218, ../sass/form.scss */
  body section form #annonceur {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin: 0% 0% 1% 0%;
    /*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
  }
  /* line 224, ../sass/form.scss */
  body section form #annonceur h2 {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    text-align: center;
  }
  /* line 228, ../sass/form.scss */
  body section form #annonceur label {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    margin: 2% 0.5% 2% 0.5%;
  }
  /* line 231, ../sass/form.scss */
  body section form #annonceur label:nth-of-type(4) {
    margin-left: 25.64103%;
  }
  /* line 235, ../sass/form.scss */
  body section form #annonceur label input {
    width: 100%;
    float: left;
    margin-right: 7.14286%;
  }
  /* line 246, ../sass/form.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 251, ../sass/form.scss */
  body footer div {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 254, ../sass/form.scss */
  body footer div:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 65em) {
  /* line 264, ../sass/form.scss */
  body header, body section, body footer {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%;
  }
  /* line 266, ../sass/form.scss */
  body header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 269, ../sass/form.scss */
  body header div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 271, ../sass/form.scss */
  body header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 274, ../sass/form.scss */
  body header nav ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 278, ../sass/form.scss */
  body section {
    margin-top: 1em;
  }
  /* line 281, ../sass/form.scss */
  body section h1 {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
  }
  /* line 284, ../sass/form.scss */
  body section form {
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    margin-left: 0%;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin-top: 3%;
  }
  /* line 291, ../sass/form.scss */
  body section form #annonce {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin: 0% 0% 1% 0%;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  }
  /* line 297, ../sass/form.scss */
  body section form #annonce h2 {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
  }
  /* line 301, ../sass/form.scss */
  body section form #annonce label {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin: 1.5% 0.5% 1.5% 0.5%;
  }
  /* line 307, ../sass/form.scss */
  body section form #annonce label:nth-of-type(4) select {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  /* line 327, ../sass/form.scss */
  body section form #annonce label:nth-of-type(6) textarea {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    resize: none;
  }
  /* line 337, ../sass/form.scss */
  body section form #annonceur {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin: 0% 0% 1% 0%;
    /*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
  }
  /* line 343, ../sass/form.scss */
  body section form #annonceur h2 {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
  }
  /* line 347, ../sass/form.scss */
  body section form #annonceur label {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin: 1.5% 0.5% 1.5% 0.5%;
  }
  /* line 350, ../sass/form.scss */
  body section form #annonceur label:nth-of-type(4) {
    margin-left: 33.91304%;
  }
  /* line 354, ../sass/form.scss */
  body section form #annonceur label input {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
  /* line 365, ../sass/form.scss */
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 369, ../sass/form.scss */
  body footer div {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
