@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);
/* line 17, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "myFont";
  src: url(/fonts/RomeoDn.ttf) format("truetype");
}

@font-face {
  font-family: "titre";
  src: url(/fonts/ELEMENT_.TTF) format("truetype");
}

/* line 23, ../sass/ie.scss */
body {
  background-image: url("../img/fondo.png");
  background-attachment: fixed;
  /*@include susy-grid-background;*/
}
/* line 32, ../sass/ie.scss */
body header, body section, body footer {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 34, ../sass/ie.scss */
body header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
/* line 38, ../sass/ie.scss */
body header div {
  margin: 0 auto;
  width: 95%;
}
/* line 42, ../sass/ie.scss */
body header div img {
  width: 100%;
  max-height: 5em;
}
/* line 45, ../sass/ie.scss */
body header nav {
  margin: 0 auto;
  width: 95%;
}
/* line 48, ../sass/ie.scss */
body header nav ul {
  width: 100%;
}
/* line 52, ../sass/ie.scss */
body section {
  margin-top: 0em;
}
/* line 55, ../sass/ie.scss */
body section h1 {
  margin: 0 auto;
  font-family: "message";
  font-size: 2.5em;
  text-align: center;
  width: 95%;
}
/* line 56, ../sass/ie.scss */
body section p {
  margin: 0 auto;
  font-family: "titre";
  font-size: 1.5em;
  text-align: center;
  width: 95%;
}
/* line 58, ../sass/ie.scss */
body section div {
  margin: 0 auto;
  width: 95%;
}
/* line 62, ../sass/ie.scss */
body section div div#formRecherche, body section div div#listeResultats {
  margin-top: 0 auto;
  padding: 1%;
  width: 95%;
}
/* line 64, ../sass/ie.scss */
body section div div#listeResultats {
  margin-top: 10%;
}
/* line 66, ../sass/ie.scss */
body section div div#listeResultats img, body section div div#listeResultats p {
  width: 100%;
}
/* line 67, ../sass/ie.scss */
body section div div#listeResultats a {
  text-decoration: none;
}
/* line 68, ../sass/ie.scss */
body section div div#listeResultats p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5%;
  font-size: 1em;
  text-align: justify;
}
/* line 73, ../sass/ie.scss */
body section div div#listeResultats p:nth-of-type(1) {
  text-align: center;
}
/* line 75, ../sass/ie.scss */
body section div div#listeResultats #messageError {
  margin: 0 auto;
  font-family: "message" sans-serif;
  font-size: 2em;
  text-align: center;
  width: 95%;
}
/* line 80, ../sass/ie.scss */
body section div div#formRecherche label {
  font-family: "myFont", serif;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 90%;
  text-align: justify;
}
/* line 81, ../sass/ie.scss */
body section div div#formRecherche input[type="submit"] {
  margin-top: 3%;
  width: 100%;
}
/* line 85, ../sass/ie.scss */
body section article {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 0 auto;
  width: 95%;
}
/* line 90, ../sass/ie.scss */
body section article div.principal-image {
  width: 100%;
  padding: 10px;
}
/* line 94, ../sass/ie.scss */
body section article div.principal-image img {
  max-width: 230px;
}
/* line 96, ../sass/ie.scss */
body section article div.principal-image img:hover {
  box-shadow: 0 0px 15px rgba(82, 160, 220, 0.7);
}
/* line 99, ../sass/ie.scss */
body section article div.annonce-content {
  width: 100%;
}
/* line 102, ../sass/ie.scss */
body section article div.annonce-content h3 {
  font-weight: bold;
  color: #555;
}
/* line 108, ../sass/ie.scss */
body section article div.annonce-content div p.categorie span {
  font-weight: bold;
}
/* line 110, ../sass/ie.scss */
body section article div.annonce-content div p.categorie label.categorie-name {
  color: #52a0dc;
}
/* line 113, ../sass/ie.scss */
body section article div.annonce-content div p.description {
  border-top: #ddd 1px solid;
}
/* line 116, ../sass/ie.scss */
body section article div.annonce-content div.thumbnail:hover {
  box-shadow: 0 0px 8px rgba(82, 160, 220, 0.7);
}
/* line 121, ../sass/ie.scss */
body section article div.annonce-content div.bottom-annonce .date {
  font-size: 0.9em;
  font-style: italic;
  margin-right: 0;
}
/* line 130, ../sass/ie.scss */
body section article form.signup {
  width: 100%;
}
/* line 132, ../sass/ie.scss */
body section article form.signup input[type="submit"], body section article form.signup a {
  margin-bottom: 1.5%;
  width: 100%;
}
/* line 133, ../sass/ie.scss */
body section article form.signup label {
  font-family: "myFont", serif;
  margin-left: 1%;
  margin-top: 1.8%;
  width: 90%;
  text-align: justify;
}
/* line 135, ../sass/ie.scss */
body section article form.signup div {
  width: 100%;
}
/* line 138, ../sass/ie.scss */
body section article label {
  font-family: "myFont", serif;
  margin-left: 1%;
  margin-top: 1.8%;
  width: 90%;
  text-align: justify;
}
/* line 140, ../sass/ie.scss */
body section article form div {
  margin: 0 auto;
  width: 90%;
}
/* line 143, ../sass/ie.scss */
body section article form div input[type="submit"], body section article form div a {
  margin-bottom: 1.5%;
  width: 100%;
}
/* line 150, ../sass/ie.scss */
body section article#annonceId {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 0 auto;
  width: 95%;
}
/* line 155, ../sass/ie.scss */
body section article#annonceId div {
  margin: 0 auto;
  width: 95%;
}
/* line 159, ../sass/ie.scss */
body section article#annonceId div h1 {
  font-family: 'titre';
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}
/* line 160, ../sass/ie.scss */
body section article#annonceId div img, body section article#annonceId div div {
  margin-bottom: 1em;
  width: 100%;
}
/* line 164, ../sass/ie.scss */
body section article#annonceId div div p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'myFont', serif;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}
/* line 168, ../sass/ie.scss */
body section article#annonceId div p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'myFont', serif;
  font-size: 1.3em;
  padding: 0.5em;
  text-align: justify;
  width: 100%;
}
/* line 173, ../sass/ie.scss */
body section div#carousel {
  margin-top: 3.5em;
  width: 100%;
}
/* line 177, ../sass/ie.scss */
body section div#carousel div img {
  display: block;
  max-height: 5em;
  width: 100%;
}
/* line 186, ../sass/ie.scss */
body footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15em;
}
/* line 190, ../sass/ie.scss */
body footer div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 193, ../sass/ie.scss */
body footer div:nth-of-type(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 194, ../sass/ie.scss */
body footer div p {
  padding-left: 1em;
}
@media (min-width: 45em) {
  /* line 23, ../sass/ie.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 204, ../sass/ie.scss */
  body header div img {
    max-height: 7em;
  }
  /* line 210, ../sass/ie.scss */
  body section div#formRecherche, body section div#listeResultats {
    display: inline-block;
    margin-top: 0;
    width: 30%;
    vertical-align: top;
  }
  /* line 211, ../sass/ie.scss */
  body section div#listeResultats {
    margin-left: 2%;
    width: 65%;
  }
  /* line 215, ../sass/ie.scss */
  body section article form div {
    width: 60%;
  }
  /* line 222, ../sass/ie.scss */
  body section article div.annonce-content div.principal-image {
    width: 100%;
  }
  /* line 225, ../sass/ie.scss */
  body section article div.annonce-content div.principal-image img {
    max-width: 80%;
  }
  /* line 233, ../sass/ie.scss */
  body section article#annonceId div img, body section article#annonceId div div {
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 1em;
    width: 46%;
    vertical-align: top;
  }
  /* line 238, ../sass/ie.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 243, ../sass/ie.scss */
  body footer div {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 246, ../sass/ie.scss */
  body footer div:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 65em) {
  /* line 23, ../sass/ie.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 256, ../sass/ie.scss */
  body header, body section, body footer {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%;
  }
  /* line 258, ../sass/ie.scss */
  body header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 261, ../sass/ie.scss */
  body header div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 263, ../sass/ie.scss */
  body header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 266, ../sass/ie.scss */
  body header nav ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 272, ../sass/ie.scss */
  body section h1 {
    margin-top: 0%;
  }
  /* line 273, ../sass/ie.scss */
  body section div {
    margin-top: 0;
    width: 100%;
  }
  /* line 277, ../sass/ie.scss */
  body section div div#formRecherche {
    padding: 0;
  }
  /* line 280, ../sass/ie.scss */
  body section div div#formRecherche label {
    margin-left: 7.24638%;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
  }
  /* line 281, ../sass/ie.scss */
  body section div div#formRecherche select, body section div div#formRecherche input[type="text"] {
    margin: 0 auto;
    width: 80%;
  }
  /* line 282, ../sass/ie.scss */
  body section div div#formRecherche input[type="submit"] {
    float: right;
    margin-right: 0;
    width: 20%;
  }
  /* line 285, ../sass/ie.scss */
  body section div div#listeResultats {
    margin-top: 0%;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  /* line 291, ../sass/ie.scss */
  body section div div#listeResultats div.annonceByCategorie {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-bottom: 5%;
    margin-bottom: -5%;
    margin-top: 6%;
  }
  /* line 307, ../sass/ie.scss */
  body section article div.annonce-content div.principal-image, body section article div.annonce-content div.thumbnail {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  /* line 308, ../sass/ie.scss */
  body section article div.annonce-content div.principal-image {
    padding: 0;
  }
  /* line 315, ../sass/ie.scss */
  body section article form.signup input[type="submit"], body section article form.signup a {
    width: 35%;
  }
  /* line 316, ../sass/ie.scss */
  body section article form.signup input[type="submit"] {
    margin-left: 14.49275%;
  }
  /* line 320, ../sass/ie.scss */
  body section article label {
    font-size: 1.5em;
  }
  /* line 322, ../sass/ie.scss */
  body section article form div {
    width: 50%;
  }
  /* line 324, ../sass/ie.scss */
  body section article form div input[type="submit"], body section article form div a {
    margin-bottom: 0;
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
  /* line 329, ../sass/ie.scss */
  body section article#slide {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 7.24638%;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 336, ../sass/ie.scss */
  body section article#slide div {
    width: 100%;
  }
  /* line 337, ../sass/ie.scss */
  body section article#slide div ul li img {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 338, ../sass/ie.scss */
  body section article#slide div ul li p {
    text-align: center;
  }
  /* line 341, ../sass/ie.scss */
  body section article#annonceId {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 346, ../sass/ie.scss */
  body section article#annonceId div h1 {
    font-size: 3.2em;
    margin-top: 0;
  }
  /* line 348, ../sass/ie.scss */
  body section article#annonceId div p {
    margin-top: 1%;
  }
  /* line 352, ../sass/ie.scss */
  body section div#carousel {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 7.24638%;
    margin-top: 6%;
  }
  /* line 355, ../sass/ie.scss */
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 359, ../sass/ie.scss */
  body footer div {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
