/* line 17, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/print.scss */
body {
  /* @include susy-grid-background;*/
}
@media (min-width: 45em) {
  /* line 13, ../sass/print.scss */
  body {
    /*@include susy-grid-background;*/
  }
}
@media (min-width: 65em) {
  /* line 13, ../sass/print.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 26, ../sass/print.scss */
  body header, body footer {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%;
  }
  /* line 28, ../sass/print.scss */
  body header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2em;
  }
  /* line 32, ../sass/print.scss */
  body header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 35, ../sass/print.scss */
  body header nav ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    /*li{
    	@include span-columns(1, 12);
    }*/
  }
  /* line 45, ../sass/print.scss */
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 3em;
  }
  /* line 49, ../sass/print.scss */
  body footer div {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 52, ../sass/print.scss */
  body footer div:nth-of-type(2) {
    margin-left: 14.49275%;
  }
  /* line 59, ../sass/print.scss */
  body section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 14.49275%;
  }
  /* line 62, ../sass/print.scss */
  body section article {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    max-height: 160px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.175);
  }
  /* line 66, ../sass/print.scss */
  body section article div.principal-image {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    padding: 10px;
  }
  /* line 70, ../sass/print.scss */
  body section article div.principal-image img {
    max-width: 230px;
  }
  /* line 72, ../sass/print.scss */
  body section article div.principal-image img:hover {
    box-shadow: 0 0px 15px rgba(82, 160, 220, 0.7);
  }
  /* line 74, ../sass/print.scss */
  body section article div.annonce-content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
  /* line 76, ../sass/print.scss */
  body section article div.annonce-content * {
    margin: 2px;
  }
  /* line 77, ../sass/print.scss */
  body section article div.annonce-content h3.h3 {
    width: 100%;
    float: left;
    margin-right: 2.27273%;
    margin-right: 0;
    margin-top: 0.5em;
    font-weight: bold;
    color: #555;
  }
  /* line 86, ../sass/print.scss */
  body section article div.annonce-content div {
    width: 99.36364%;
    float: left;
    margin-right: 2.27273%;
  }
  /* line 88, ../sass/print.scss */
  body section article div.annonce-content div p.categorie {
    font-size: 0.8em;
  }
  /* line 90, ../sass/print.scss */
  body section article div.annonce-content div p.categorie span {
    font-weight: bold;
  }
  /* line 93, ../sass/print.scss */
  body section article div.annonce-content div p.categorie label.categorie-name {
    color: #52a0dc;
  }
  /* line 98, ../sass/print.scss */
  body section article div.annonce-content div p.description {
    border-top: #ddd 1px solid;
  }
  /* line 103, ../sass/print.scss */
  body section article div.annonce-content div.thumbnail:hover {
    box-shadow: 0 0px 8px rgba(82, 160, 220, 0.7);
  }
  /* line 107, ../sass/print.scss */
  body section article div.annonce-content div.bottom-annonce {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 110, ../sass/print.scss */
  body section article div.annonce-content div.bottom-annonce .date {
    width: 50%;
    float: left;
    margin-right: 2.27273%;
    font-size: 0.9em;
    font-style: italic;
    margin-right: 0;
    position: relative;
    top: 15px;
  }
  /* line 118, ../sass/print.scss */
  body section article div.annonce-content div.bottom-annonce a {
    width: 49.09091%;
    float: right;
    margin-right: 0;
  }
  /* line 120, ../sass/print.scss */
  body section article div.annonce-content div.bottom-annonce a button {
    float: right;
  }
}
