/* line 17, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  background-image: url("../img/fondo.png");
  background-attachment: fixed;
  /* @include susy-grid-background;*/
}
/* line 20, ../sass/screen.scss */
body header, body section, body footer {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-left: 0%;
}
/* line 22, ../sass/screen.scss */
body header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
/* line 26, ../sass/screen.scss */
body header div {
  margin: 0 auto;
  width: 95%;
}
/* line 30, ../sass/screen.scss */
body header div img {
  width: 100%;
  max-height: 5em;
}
/* line 33, ../sass/screen.scss */
body header nav {
  margin: 0 auto;
  width: 95%;
}
/* line 36, ../sass/screen.scss */
body header nav ul {
  width: 100%;
}
/* line 41, ../sass/screen.scss */
body section {
  margin-top: 1em;
}
/* line 45, ../sass/screen.scss */
body section article#slide {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-left: 0%;
  -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  max-height: 25em;
}
/* line 52, ../sass/screen.scss */
body section article#slide div {
  width: 100%;
}
/* line 53, ../sass/screen.scss */
body section article#slide div ul li img {
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  max-height: 25em;
}
/* line 54, ../sass/screen.scss */
body section article#slide div ul li p {
  text-align: center;
}
/* line 57, ../sass/screen.scss */
body section div.acueilAnnonces {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-top: 4em;
}
/* line 61, ../sass/screen.scss */
body section div.acueilAnnonces article {
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  background: white;
  -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  margin: 5% 15% 5% 15%;
  min-height: 23em;
}
/* line 71, ../sass/screen.scss */
body section div.acueilAnnonces article a:nth-of-type(1) {
  margin: 5% 10% 5% 10%;
  max-width: 90%;
}
/* line 76, ../sass/screen.scss */
body section div.acueilAnnonces article a:nth-of-type(2) {
  margin: 5% 25% 5% 25%;
  max-width: 20%;
}
/* line 82, ../sass/screen.scss */
body section div.acueilAnnonces article a > img {
  max-width: 80%;
}
/* line 83, ../sass/screen.scss */
body section div.acueilAnnonces article p {
  margin: 1em 1em 1em 1em;
}
/* line 89, ../sass/screen.scss */
body footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15em;
}
/* line 93, ../sass/screen.scss */
body footer div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 96, ../sass/screen.scss */
body footer div:nth-of-type(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 97, ../sass/screen.scss */
body footer div p {
  padding-left: 1em;
}
@media (min-width: 45em) {
  /* line 13, ../sass/screen.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 105, ../sass/screen.scss */
  body header, body section, body footer {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 12.82051%;
  }
  /* line 109, ../sass/screen.scss */
  body header div img {
    max-height: 7em;
  }
  /* line 114, ../sass/screen.scss */
  body section {
    margin-top: 1em;
  }
  /* line 118, ../sass/screen.scss */
  body section article#slide {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 12.82051%;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 125, ../sass/screen.scss */
  body section article#slide div {
    width: 100%;
  }
  /* line 126, ../sass/screen.scss */
  body section article#slide div ul li img {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 127, ../sass/screen.scss */
  body section article#slide div ul li p {
    text-align: center;
  }
  /* line 130, ../sass/screen.scss */
  body section div.acueilAnnonces {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin-top: 4em;
  }
  /* line 135, ../sass/screen.scss */
  body section div.acueilAnnonces article {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    background: white;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    margin: 1em 0 1em 0.5em;
    min-height: 23em;
  }
  /* line 145, ../sass/screen.scss */
  body section div.acueilAnnonces article a:nth-of-type(1) {
    margin: 5% 10% 5% 10%;
    max-width: 90%;
  }
  /* line 150, ../sass/screen.scss */
  body section div.acueilAnnonces article a:nth-of-type(2) {
    margin: 5% 25% 5% 25%;
  }
  /* line 155, ../sass/screen.scss */
  body section div.acueilAnnonces article a > img {
    max-width: 80%;
  }
  /* line 156, ../sass/screen.scss */
  body section div.acueilAnnonces article p {
    margin: 1em 1em 1em 1em;
  }
  /* line 162, ../sass/screen.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 167, ../sass/screen.scss */
  body footer div {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 170, ../sass/screen.scss */
  body footer div:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 65em) {
  /* line 13, ../sass/screen.scss */
  body {
    /*@include susy-grid-background;*/
  }
  /* line 179, ../sass/screen.scss */
  body header, body section, body footer {
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%;
  }
  /* line 181, ../sass/screen.scss */
  body header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 184, ../sass/screen.scss */
  body header div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 186, ../sass/screen.scss */
  body header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 189, ../sass/screen.scss */
  body header nav ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 193, ../sass/screen.scss */
  body section {
    margin-top: 1em;
  }
  /* line 197, ../sass/screen.scss */
  body section article#slide {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 7.24638%;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 204, ../sass/screen.scss */
  body section article#slide div {
    width: 100%;
  }
  /* line 205, ../sass/screen.scss */
  body section article#slide div ul li img {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    max-height: 25em;
  }
  /* line 206, ../sass/screen.scss */
  body section article#slide div ul li p {
    text-align: center;
  }
  /* line 209, ../sass/screen.scss */
  body section div.acueilAnnonces {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin-top: 4em;
  }
  /* line 214, ../sass/screen.scss */
  body section div.acueilAnnonces article {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    background: white;
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.175);
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    margin: 1em 0 1em 0.5em;
    min-height: 23em;
  }
  /* line 224, ../sass/screen.scss */
  body section div.acueilAnnonces article a:nth-of-type(1) {
    margin: 5% 10% 5% 10%;
    max-width: 90%;
  }
  /* line 229, ../sass/screen.scss */
  body section div.acueilAnnonces article a:nth-of-type(2) {
    margin: 5% 25% 5% 25%;
  }
  /* line 234, ../sass/screen.scss */
  body section div.acueilAnnonces article a > img {
    max-width: 80%;
  }
  /* line 235, ../sass/screen.scss */
  body section div.acueilAnnonces article p {
    margin: 1em 1em 1em 1em;
  }
  /* line 241, ../sass/screen.scss */
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10em;
  }
  /* line 245, ../sass/screen.scss */
  body footer div {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
