@import "compass/reset";
@import "susy";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$break1: 45em 8;
$break2: 65em 14;

@font-face {
	font-family: "myFont";
	src: url(/fonts/RomeoDn.ttf) format("truetype");
}

@font-face {
	font-family: "titre";
	src: url(/fonts/ELEMENT_.TTF) format("truetype");
}

@font-face {
	font-family: "message";
	src: url(/fonts/fontErreur.ttf) format("truetype");
}

body {



	background-image: url('../img/fondo.png');

	 /*@include susy-grid-background;*/

	 header, section, footer { @include span-columns(4, 4); }

	 header {
	 	@include box-sizing(border-box);
	 	margin-top: 1em;

	 	div {
	 		margin: 0 auto;
	 		width: 95%;
	 		img { width: 100%; max-height: 2em; }
	 	}

	 	nav {
	 		margin: 0 auto;
	 		width: 95%;
	 		ul { width: 100%;}
	 	}
	 }

	 section {
	 	margin-top: 0em;

	 	h1 { margin-top: 3%; margin-bottom: 5%; font-family: "message"; font-size: 2.2em; text-align: center; width: 95%; }
	 	p { margin: 0 auto; font-family: "titre"; font-size: 1.5em; text-align: center; width: 95%; }

	 	article#annonceId  {
	 		@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
	 		margin: 0 auto;
	 		width: 95%;

	 		div {
	 			margin: 0 auto;
	 			width: 95%;

	 			h1 { font-family: 'titre'; font-size: 2em; margin-bottom: 0.5em; padding-top: 0.5em; text-align: center; }
	 			img, div { margin-bottom: 1em; width: 100%; }
	 		
	 			div { 

	 				p { @include box-sizing(border-box); font-family: 'myFont', serif; font-size: 1.3em; text-align: center; width: 100%; }
	 			}

	 			p { @include box-sizing(border-box); font-family: 'myFont', serif; font-size: 1.3em; padding: 0.5em; text-align: justify; width: 100%; }
	 		}
	 	}
	 	
	 	div#carousel {
	 		margin-top: 3.5em;
	 		width: 100%;

	 		div img {
	 			display: block;
	 			max-height: 5em;
	 			width: 100%;
	 		}
	 	}


	 }

	  footer {
	 	@include box-sizing(border-box);
	 	margin-top: 10em;

	 	div { 
	 		display: inline-block;
	 		width: 46%;
	 		vertical-align: top;
	 		p { padding-left: 1.5em; }
	 	}
	 }


	 @include at-breakpoint($break1){

	 	/*@include susy-grid-background;*/

	 	header {
	 		div {
	 			img { max-height: 7em; }
	 		}
	 	}

	 	section {

	 		h1 { font-size: 8em; }
	 		p { font-size: 3em; }
	 	}

	 	footer {
	 		@include span-columns(8, 8);
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { 
	 			@include span-columns(4, 8);
	 			&:nth-of-type(2) { @include omega; }
	 		}
	 	}

	 }

	 @include at-breakpoint($break2){

	 	/*@include susy-grid-background;*/

	 	header, section, footer { @include span-columns(12, 14); @include push(1); }

	 	header {
	 		@include box-sizing(border-box);
	 		margin-top: 1em;

	 		div { @include span-columns(6, 12);	}

	 		nav { 
	 			@include span-columns(12, 12); 
	 			
	 			ul { 
	 				@include span-columns(12, 12);
	 			}
	 		}
	 	}

	 	section {

	 		h1 { font-size: 10em; }
	 		p { font-size: 3em; }

	 		/*article#slide {
	 			@include span-columns(10, 12);
	 			@include push(1);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}*/

	 		article#slide {
	 			@include span-columns(10, 12);
	 			@include push(1);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}

	 		article#annonceId  {
	 			@include span-columns(12, 12);

	 			div {
	 				h1 { font-size: 3.2em; margin-top: 0; }
	 				p { margin-top: 1%; }
	 			}
	 		}

	 		div#carousel { @include span-columns(10, 12); @include push(1); margin-top: 6%; }
	 	}

	 	footer {
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { 
	 			@include span-columns(5, 12); 

	 			&:nth-of-type(2){
	 				@include push(2);
	 			}
	 		}

	 	}

	 }


}

