@import "compass/reset";
@import "susy";
@import "compass/css3";

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$break1: 45em 8;
$break2: 65em 14;

/*----------------------------------------------------------*/


body{

	background-image: url('../img/fondo.png');
	background-attachment: fixed;

	header, section, footer { @include span-columns(4, 4); @include push(0); }

	header {
	 	@include box-sizing(border-box);
	 	margin-top: 1em;

	 	div { 
	 		margin: 0 auto; 
	 		width: 95%;
	 		
	 		img { width: 100%; max-height: 5em; }
	 	}

	 	nav {
	 		margin: 0 auto;
	 		width: 95%;
	 		ul { width: 100%;}
	 	}
	}


		section{
			margin-top: 1em; 

		h1{	@include span-columns(4,4);
				text-align: center;}
					
		form{
			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 		@include border-radius(0.8em);
			@include push(0.5);
			@include span-columns(3,4);
			margin-top: 3%;
			
			#annonce{

				@include span-columns(3,3);

			h2{	@include span-columns(3,3);
				text-align: center;
			}

			label{
				@include span-columns(3,3);
				margin:2% 0% 2% 0%;

				input{
					@include span-columns(3,3);
				}

				&:nth-of-type(4){

					select{
						@include span-columns(3,3);
					    -webkit-border-radius:4px;
					    -moz-border-radius:4px;
					    border-radius:4px;
					    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    background: #f8f8f8;
					    color:#888;
					    border:none;
					    -webkit-appearance:none;
					    -moz-appearance:none;
					    appearance:none;
					    cursor:pointer;
					}
				}

				&:nth-of-type(6){

					textarea{
						@include span-columns(3,3);
						resize:none;
							}
				}
			
			}

			}

			#annonceur{

				@include span-columns(3,3);
				margin: 0% 0% 1% 0%;
				/*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/

			h2{	@include span-columns(3,3);
				text-align: center;
			}

			label{
				@include span-columns(3,3);
				margin:2% 0% 2% 0%;
				&:nth-of-type(4){
					@include push(0);
				}

				input{
					@include span-columns(3,3);
				}

			

			}
		}

			}
		}

	footer {
	 	@include box-sizing(border-box);
	 	margin-top: 15em;

	 	div {
	 		@include box-sizing(border-box);
	 		@include span-columns(2, 4); 		
	 		&:nth-of-type(2) { @include omega; }
	 		p { padding-left: 1em; }
	 	}
	 }



/*----------------------------------------------------------*/
 @include at-breakpoint($break1){

header, section, footer { @include span-columns(6, 8); @include push(1); }

	header {
	 		div {
	 			img { max-height: 7em; }
	 		}
	 	}

		section{
			margin-top: 1em; 

		h1{	@include span-columns(6,6);
				text-align: center;}
					
		form{
			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 		@include border-radius(0.8em);
			@include push(0);
			@include span-columns(6,6);
			margin-top: 3%;
			
			#annonce{

				@include span-columns(6,6);
				margin:1% 0% 1% 0%;

			h2{	@include span-columns(6,6);
				text-align: center;
			}

			label{
				@include span-columns(3,6);
				margin:1.5% 0.5% 1.5% 0.5%;

				input{
					@include span-columns(3,3);
				}

				&:nth-of-type(4){

					select{
						@include span-columns(3,3);
					    -webkit-border-radius:4px;
					    -moz-border-radius:4px;
					    border-radius:4px;
					    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    background: #f8f8f8;
					    color:#888;
					    border:none;
					    -webkit-appearance:none;
					    -moz-appearance:none;
					    appearance:none;
					    cursor:pointer;
					}
				}

				&:nth-of-type(6){

					textarea{
						@include span-columns(3,3);
						resize:none;
							}
				}
			
			}

			}

			#annonceur{

				@include span-columns(6,6);
				margin: 0% 0% 1% 0%;
				/*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/

			h2{	@include span-columns(6,6);
				text-align: center;
			}

			label{
				@include span-columns(3,6);
				margin:2% 0.5% 2% 0.5%;
				&:nth-of-type(4){
					@include push(2);
				}

				input{
					@include span-columns(3,3);
				}

			}

			}
		}

		}

		footer {
		 		@include span-columns(8, 8);
		 		@include box-sizing(border-box);
		 		margin-top: 10em;

		 		div { 
		 			@include span-columns(4, 8);
		 			@include box-sizing(border-box);
		 			&:nth-of-type(2) { @include omega; }
		 		}
	 	}

	}


/*----------------------------------------------------------*/
 @include at-breakpoint($break2){
 	
 header, section, footer { @include span-columns(12, 14); @include push(1); }

 		header {
	 		@include box-sizing(border-box);

	 		div { @include span-columns(6, 12); }

	 		nav { 
	 			@include span-columns(12, 12); 
	 			
	 			ul { @include span-columns(12, 12); }
	 		}
	 	}

		section{
			margin-top: 1em; 

		h1{	@include span-columns(12,12);
				text-align: center;}
					
		form{
			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 		@include border-radius(0.8em);
			@include push(0);
			@include span-columns(12,12);
			margin-top: 3%;
			
			#annonce{

				@include span-columns(12,12);
				margin: 0% 0% 1% 0%;
				box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;

			h2{	@include span-columns(12,12);
				text-align: center;
			}

			label{
				@include span-columns(4,12);
				margin:1.5% 0.5% 1.5% 0.5%;

				&:nth-of-type(4){

					select{
						@include span-columns(4,4);
					    -webkit-border-radius:4px;
					    -moz-border-radius:4px;
					    border-radius:4px;
					    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
					    background: #f8f8f8;
					    color:#888;
					    border:none;
					    -webkit-appearance:none;
					    -moz-appearance:none;
					    appearance:none;
					    cursor:pointer;
					}
				}

				&:nth-of-type(6){

					textarea{
						@include span-columns(4,4);
						resize:none;
							}
				}
			
			}

			}

			#annonceur{

				@include span-columns(12,12);
				margin: 0% 0% 1% 0%;
				/*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/

			h2{	@include span-columns(12,12);
				text-align: center;
			}

			label{
				@include span-columns(4,12);
				margin:1.5% 0.5% 1.5% 0.5%;
				&:nth-of-type(4){
					@include push(4.6);
				}

				input{
					@include span-columns(4,4);
				}

			}

			}
		}

		}

		footer {
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { @include span-columns(5, 12); @include box-sizing(border-box); }
	 	}

	
	}


}