@import "compass/reset";
@import "susy";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$break1: 45em 8;
$break2: 65em 14;

@font-face {
	font-family: "myFont";
	src: url(/fonts/RomeoDn.ttf) format("truetype");
}

@font-face {
	font-family: "titre";
	src: url(/fonts/ELEMENT_.TTF) format("truetype");
}

body {



	background-image: url('../img/fondo.png');
	background-attachment: fixed;


	/*@include susy-grid-background;*/
	header, section, footer { @include span-columns(4, 4); }

	 header {
	 	@include box-sizing(border-box);
	 	margin-top: 1em;

	 	div { 
	 		margin: 0 auto; 
	 		width: 95%;
	 		
	 		img { width: 100%; max-height: 5em; }
	 	}

	 	nav {
	 		margin: 0 auto;
	 		width: 95%;
	 		ul { width: 100%;}
	 	}
	 }

	 section {
	 	margin-top: 0em;

	 	h1 { margin: 0 auto; font-family: "message"; font-size: 2.5em; text-align: center; width: 95%; }
	 	p { margin: 0 auto; font-family: "titre"; font-size: 1.5em; text-align: center; width: 95%; }	 	

	 	div {
	 		margin: 0 auto;
	 		width: 95%;

	 		div#formRecherche, div#listeResultats { margin-top: 0 auto; padding: 1%; width: 95%; } 	
	
	 		div#listeResultats { 
	 			margin-top: 10%; 
	 			img, p { width: 100%; }
	 			a { text-decoration: none; }
	 			p { 
	 				@include box-sizing(border-box);
	 				margin-top: 5%;
	 				font-size: 1em; 
	 				text-align: justify;
	 				&:nth-of-type(1) { text-align: center;}
	 			}
	 			#messageError { margin: 0 auto; font-family: "message" sans-serif; font-size: 2em; text-align: center; width: 95%; }
	 			
	 		}
	 		div#formRecherche {

	 			label { font-family: "myFont", serif; margin-top: 3%; margin-bottom: 1%;width: 90%; text-align: justify; }
	 			input[type = "submit"] { margin-top: 3%; width: 100%; }
	 		}
	 	}

	 	article {
	 		@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
	 		margin: 0 auto;
	 		width: 95%;

	 		div.principal-image {
                
                width: 100%;                          
                padding: 10px;
                img{ max-width: 230px; }
                           
                img:hover { box-shadow: 0 0px 15px rgba(82, 160, 220, 0.7); }
            }

            div.annonce-content {

            	width: 100%;
            	h3 { font-weight: bold; color: #555; }

            	 div {
                 
                    p.categorie {
                       
                        span { font-weight: bold; }

                        label.categorie-name { color: rgb(82, 160, 220); }
                    }
                                
                    p.description { border-top: #ddd 1px solid; }
               	}

               	div.thumbnail:hover { box-shadow: 0 0px 8px rgba(82, 160, 220, 0.7); }
                

                div.bottom-annonce {
                                          
                    .date {
                        font-size: 0.9em;
                        font-style: italic;
                        margin-right: 0;
                    }
                }

            }

	 		form.signup {
	 			width: 100%;
	 			input[type = "submit"], a { margin-bottom: 1.5%; width: 100%; }
	 			label { font-family: "myFont", serif; margin-left: 1%; margin-top: 1.8%; width: 90%; text-align: justify; }

	 			div { width: 100%; }
	 		}

	 		label { font-family: "myFont", serif; margin-left: 1%; margin-top: 1.8%; width: 90%; text-align: justify; }
			form {
				div {
					margin: 0 auto;
					width: 90%;
					input[type = "submit"], a { margin-bottom: 1.5%; width: 100%; }

				}
			}

	 	}

	 	article#annonceId  {
	 		@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
	 		margin: 0 auto;
	 		width: 95%;

	 		div {
	 			margin: 0 auto;
	 			width: 95%;

	 			h1 { font-family: 'titre'; font-size: 2em; margin-bottom: 0.5em; padding-top: 0.5em; text-align: center; }
	 			img, div { margin-bottom: 1em; width: 100%; }
	 		
	 			div { 

	 				p { @include box-sizing(border-box); font-family: 'myFont', serif; font-size: 1.3em; text-align: center; width: 100%; }

	 			}

	 			p { @include box-sizing(border-box); font-family: 'myFont', serif; font-size: 1.3em; padding: 0.5em; text-align: justify; width: 100%; }

	 		}
	 	}
	 	
	 	div#carousel {
	 		margin-top: 3.5em;
	 		width: 100%;

	 		div img {
	 			display: block;
	 			max-height: 5em;
	 			width: 100%;
	 		}
	 	}

	 }

	footer {
	 	@include box-sizing(border-box);
	 	margin-top: 15em;

	 	div {
	 		@include box-sizing(border-box);
	 		@include span-columns(2, 4); 		
	 		&:nth-of-type(2) { @include omega; }
	 		p { padding-left: 1em; }
	 	}
	 }

	 @include at-breakpoint($break1){

	 	/*@include susy-grid-background;*/

	 	header {
	 		div {
	 			img { max-height: 7em; }
	 		}
	 	}

	 	section {

	 		div#formRecherche, div#listeResultats { display: inline-block; margin-top: 0; width: 30%; vertical-align: top; }
		 	div#listeResultats { margin-left: 2%; width: 65%; }

	 		article {
	 			form {
	 				div {
	 					width: 60%;
	 				}
	 			}

	 			div.annonce-content{

	 				div.principal-image {

	 					width: 100%;
	 					img{ max-width: 80%; }
	 				}
	 			}
	 		}

	 		article#annonceId  {

	 			div {
	 				img, div { display: inline-block; margin-left: 1%; margin-bottom: 1em; width: 46%; vertical-align: top; }
	 			}
	 		}
	 	}

	 	footer {
	 		@include span-columns(8, 8);
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { 
	 			@include span-columns(4, 8);
	 			@include box-sizing(border-box);
	 			&:nth-of-type(2) { @include omega; }
	 		}
	 	}

	 }

	 @include at-breakpoint($break2){

	 	/*@include susy-grid-background;*/

	 	header, section, footer { @include span-columns(12, 14); @include push(1); }

	 	header {
	 		@include box-sizing(border-box);

	 		div { @include span-columns(6, 12); }

	 		nav { 
	 			@include span-columns(12, 12); 
	 			
	 			ul { @include span-columns(12, 12); }
	 		}
	 	}

	 	section {

	 		h1 { margin-top: 0%; }
	 		div {
	 			margin-top: 0;
	 			width: 100%;

	 			div#formRecherche { 
	 				padding: 0; 

	 				label { @include push(1); margin-top: 0.7%; margin-bottom: 0.5%; }
	 				select, input[type = "text"] { margin: 0 auto; width: 80%; }
	 				input[type = "submit"] { @include omega; width: 20%; }
	 			}

	 			div#listeResultats { 
	 				margin-top: 0%; 
	 				width: 100%; 
	 				padding: 0;
	 				overflow: hidden;

	 				div.annonceByCategorie { 
	 					display: inline-block;
	 					width: 30%; 
	 					vertical-align: top; 
	 					padding-bottom: 5%;
    					margin-bottom: -5%;
    					margin-top: 6%;
	 				}
	 			}

	 		}

	 		article {

	 			div.annonce-content{

	 				div.principal-image, div.thumbnail { display: inline-block; width: 48%;  vertical-align: top; }
	 				div.principal-image { 
	 					padding: 0;
	 				}
	 			}

	 			form.signup {

	 				input[type = "submit"], a { width: 35%; }
	 				input[type = "submit"] { @include push(2); }

	 			}

	 			label { font-size: 1.5em; }
	 			form {
	 				div {
	 					width: 50%;
	 					input[type = "submit"], a { margin-bottom: 0; display: inline-block; width: 48%; vertical-align: middle;}
	 				}
	 			}
	 		}
	 
	 		article#slide {
	 			@include span-columns(10, 12);
	 			@include push(1);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}

	 		article#annonceId  {
	 			@include span-columns(12, 12);

	 			div {

	 				h1 { font-size: 3.2em; margin-top: 0; }

	 				p { margin-top: 1%; }
	 			}
	 		}

	 		div#carousel { @include span-columns(10, 12); @include push(1); margin-top: 6%; }
	 	}

	 	footer {
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { @include span-columns(5, 12); @include box-sizing(border-box); }
	 	}

	}


}

