@import "compass/reset";
@import "susy";
@import "compass/css3";

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$break1: 45em 8;
$break2: 65em 14;


body {

	/* @include susy-grid-background;*/

	 @include at-breakpoint($break1){

	 	/*@include susy-grid-background;*/
	 }

	 @include at-breakpoint($break2){

	 	/*@include susy-grid-background;*/

	 	header, footer { @include span-columns(12, 14); @include push(1); }

	 	header {
	 		@include box-sizing(border-box);
	 		margin-top: 2em;

	 		nav { 
	 			@include span-columns(12, 12); 
	 			
	 			ul { 
	 				@include span-columns(12, 12);

	 				/*li{
	 					@include span-columns(1, 12);
	 				}*/
	 			}
	 		}
	 	}

	 	footer { 
	 		@include box-sizing(border-box);
	 		margin-top: 3em;

	 		div { 
	 			@include span-columns(5, 12); 

	 			&:nth-of-type(2){
	 				@include push(2);
	 			}
	 		}

	 	}
                
                section {
                    @include box-sizing(border-box);
                    @include push(2);
                    article {
                        @include span-columns(12, 14);
                        max-height: 160px;
                        box-shadow: 0 6px 5px rgba(0,0,0, 0.175);
                        div.principal-image {
                            @include span-columns(3, 12);
                           
                            padding: 10px;
                            img{ max-width: 230px; }
                            
                            img:hover { box-shadow: 0 0px 15px rgba(82, 160, 220, 0.7); }
                        }
                        div.annonce-content {
                            @include span-columns(9 omega, 12);
                            * { margin: 2px; }
                            h3.h3 {
                                @include span-columns(9, 9);
                                margin-right: 0;
                                margin-top: 0.5em;
                                font-weight: bold;
                                color: #555;
                                
                            }
                            
                            div {
                                @include span-columns(8.93, 9);
                                p.categorie {
                                    font-size: 0.8em;
                                    span {
                                        font-weight: bold;
                                    }
                                    label.categorie-name {
                                        color: rgb(82, 160, 220);
                                    }
                                }
                                
                                p.description {
                                    border-top: #ddd 1px solid;
                                }
                            }
                            
                            div.thumbnail:hover {
                                box-shadow: 0 0px 8px rgba(82, 160, 220, 0.7);
                            }
                            
                            div.bottom-annonce {
                                @include span-columns(9 omega, 9);
                                
                                .date {
                                    @include span-columns(4.5, 9);
                                    font-size: 0.9em;
                                    font-style: italic;
                                    margin-right: 0;
                                    position: relative;
                                    top: 15px;
                                }
                                a {
                                    @include span-columns(4.4 omega, 9);
                                    button {
                                        float: right;
                                    }
                                    
                                }
                            }
                           
                        }
                    }
                }
	 }
}
