@import "compass/reset";
@import "susy";
@import "compass/css3";

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$break1: 45em 8;
$break2: 65em 14;


body {

	background-image: url('../img/fondo.png');
	background-attachment: fixed;

	/* @include susy-grid-background;*/

	header, section, footer { @include span-columns(4, 4); @include push(0); }

	header {
	 	@include box-sizing(border-box);
	 	margin-top: 1em;

	 	div { 
	 		margin: 0 auto; 
	 		width: 95%;
	 		
	 		img { width: 100%; max-height: 5em; }
	 	}

	 	nav {
	 		margin: 0 auto;
	 		width: 95%;
	 		ul { width: 100%;}
	 	}
	 }
	 

	section {
	 		
	 		margin-top: 1em;

	 		article#slide {
	 			@include span-columns(4, 4);
	 			@include push(0);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}

	 		div.acueilAnnonces{
	 				@include span-columns(4, 4);
	 				margin-top:$column-width; 

	 			article{

	 				@include span-columns(3, 4);
	 				background:white;
	 				@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 				@include border-radius(0.8em);	
	 				margin: 5% 15% 5% 15%;
	 				min-height: 23em;

	 				a{
	 					&:nth-of-type(1){
	 									 margin: 5% 10% 5% 10%;
	 									 max-width: 90%;
	 									}

	 					&:nth-of-type(2){
	 									  margin: 5% 25% 5% 25%;
	 									  max-width: 20%
	 									}
	 				}

	 				a > img{ max-width: 80%;}
	 				p{ margin: 1em 1em 1em 1em;}
	 			}
	 		
	 		}
	 	}

	footer {
	 	@include box-sizing(border-box);
	 	margin-top: 15em;

	 	div {
	 		@include box-sizing(border-box);
	 		@include span-columns(2, 4); 		
	 		&:nth-of-type(2) { @include omega; }
	 		p { padding-left: 1em; }
	 	}
	 }


	 @include at-breakpoint($break1){

	 	/*@include susy-grid-background;*/
		header, section, footer { @include span-columns(6, 8); @include push(1); }

		header {
	 		div {
	 			img { max-height: 7em; }
	 		}
	 	}
	 

section {
	 		
	 		margin-top: 1em;

	 		article#slide {
	 			@include span-columns(6, 8);
	 			@include push(1);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}

	 		div.acueilAnnonces{
	 				@include span-columns(6, 6);
	 				margin-top:$column-width; 


	 			article{

	 				@include span-columns(3, 6);
	 				background:white;
	 				@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 				@include border-radius(0.8em);	
	 				margin: 1em  0 1em .5em ;
	 				min-height: 23em;

	 				a{
	 					&:nth-of-type(1){
	 									 margin: 5% 10% 5% 10%;
	 									 max-width: 90%;
	 									}

	 					&:nth-of-type(2){
	 									  margin: 5% 25% 5% 25%;
	 									}
	 				}

	 				a > img{ max-width: 80%;}
	 				p{ margin: 1em 1em 1em 1em;}
	 			}
	 		
	 		}
	 	}

	 	footer {
	 		@include span-columns(8, 8);
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { 
	 			@include span-columns(4, 8);
	 			@include box-sizing(border-box);
	 			&:nth-of-type(2) { @include omega; }
	 		}
	 	}
	 }

	 @include at-breakpoint($break2){

	 	/*@include susy-grid-background;*/

	 	header, section, footer { @include span-columns(12, 14); @include push(1); }

	 	header {
	 		@include box-sizing(border-box);

	 		div { @include span-columns(6, 12); }

	 		nav { 
	 			@include span-columns(12, 12); 
	 			
	 			ul { @include span-columns(12, 12); }
	 		}
	 	}

	 	section {
	 		
	 		margin-top: 1em;

	 		article#slide {
	 			@include span-columns(10, 12);
	 			@include push(1);
	 			@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 			@include border-radius(0.8em);
	 			max-height: 25em;

	 			div { width: 100%; }
	 			div ul li img { @include border-radius(0.8em); max-height: 25em;}
	 			div ul li p { text-align: center; }
	 		}

	 		div.acueilAnnonces{
	 				@include span-columns(12, 12);
	 				margin-top:$column-width; 


	 			article{

	 				@include span-columns(4, 12);
	 				background:white;
	 				@include box-shadow(0 1em 1em rgba(0,0,0, 0.175));
	 				@include border-radius(0.8em);	
	 				margin: 1em  0 1em .5em ;
	 				min-height: 23em;

	 				a{
	 					&:nth-of-type(1){
	 									 margin: 5% 10% 5% 10%;
	 									 max-width: 90%;
	 									}

	 					&:nth-of-type(2){
	 									  margin: 5% 25% 5% 25%;
	 									}
	 				}

	 				a > img{ max-width: 80%;}
	 				p{ margin: 1em 1em 1em 1em;}
	 			}
	 		
	 		}
	 	}

	 	footer {
	 		@include box-sizing(border-box);
	 		margin-top: 10em;

	 		div { @include span-columns(5, 12); @include box-sizing(border-box); }
	 	}

	 }
}
