{% extends "main.twig" %}

{% block head %}
	
	<meta name = "description" content = "Page d'accueil du site de petites annonces, Racoin.net" />
	<link rel = "stylesheet" href = "css/bootstrap.min.css" />
	<link rel = "stylesheet" href = "css/screen.css" />
	<link rel = "stylesheet" href = "css/flexslider.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src = "js/flexslider.js"></script>

		<script>
			$(window).load(function() {
				$('.flexslider').flexslider();
			});
		</script>

{% endblock %}

{% block main_content %}

	<section>
		
		<article id = "slide">
			
			<div class = "flexslider">
				
				<ul class = "slides">
					
					{% for annonce in list_annonce %}

						<li>
							<a href = "{{ uri }}{{ annonce.id_annonce }}" title = "{{ annonce.titre }}"><img src = "{{ annonce.photo_principal }}" /></a>
							<p class = "flex-caption">{{ annonce.titre }}</p>
						</li>

					{% endfor %}

				</ul>

			</div>

		</article>

		<div class="acueilAnnonces">
			{% for acueilAnnonces in top %}
			<article>
					<a href=""><img src="../img/logo.jpg"></a>
				<p>{{acueilAnnonces.descr}}</p>
				<a href=""><button type="button">Voir Annonce</button></a>
			</article>
			{% endfor %}
		</div>


	</section>

{% endblock %}