{% extends "main.twig" %}
{% block head %}
        <meta name="description" content="tous les annonces" />
        <link rel = "stylesheet" href = "/css/ie.css" />
{% endblock %}
{% block main_content %}
<section>
   
    {% for annonce in annonces %}
        <article class = "thumbnail">
          
            <div class = "annonce-content">
            
                <h3 class = "h3">{{ annonce.titre }}</h3>
                
                <div class = "principal-image">
                    <a href="{{uri}}{{annonce.id}}"><img src="{{ annonce.photo_principal }}" class="img-thumbnail" /></a>
                </div>

                <div class = "thumbnail">
                    <p class="categorie"><span>Categorie: </span><label class="categorie-name">{{ annonce.categorie }}</label></p>
                    <p class="description">{{ annonce.descr|length > 50 ? annonce.descr|slice(0, 50) ~ "..." : annonce.descr}}</p>
                </div>
                <div class="bottom-annonce"> 
                    <label class="date">Créée le {{ annonce.created_at }}</label>
                    <a href="{{uri}}{{annonce.id}}"><button type="button" class="btn btn-primary">En savoir plus...</button></a>
                </div>
                
            </div>

        </article>

    {% endfor %}

</section>
{% endblock %}