{%extends "main.twig"%}

{% block head %}

	<meta name = "description" content = "Page de presentation d'une annonce, Racoin.net" />
	<link rel = "stylesheet" href = "../css/bootstrap.min.css" />
	<link rel = "stylesheet" href = "../css/ie.css" />
	<link rel = "stylesheet" href = "../css/owl.carousel.css" />
	<link rel = "stylesheet" href = "../css/owl.theme.css" />

	<script src = "../js/jquery.js"></script>
	<script src = "../js/owl.carousel.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#carousel').owlCarousel({

				autoPlay: 3000,
				items: 3,
				itemsDesktop : [1199,3],
				itemsDesktopSmall : [979,3]

			});
		});
	</script>

{% endblock %}

{% block main_content %}

	<section>
		
		<article id = "annonceId">
			<div>
				
				{% for a in annonce %}
					<h1>{{ a.titre }}</h1>
					<img src = "{{ a.photo_principal }}">
					<div>
						<p>
							Annonceur: <br /><a href = "">Lui contacter</a> <br /><br />
							Tarif: {{ a.prix }} <br /><br />
							Categorie: {{ a.categorie.categorie }} <br /><br />
							Ville: {{ a.ville }} <br /><br />
							Code Postal: {{ a.cp }}<br /><br />
							<a href = "{{ update }}{{ a.id_annonce }}">Modifier</a>
							<a href = "">Supprimer</a>							
						</p>
						<br /><br />
					</div>
					<p>{{ a.descr }}</p>
				{% endfor %}

			</div>

		</article>

		<div id = "carousel" class = "owl-carousel">
			
			{% for a in annonce %}

				{% for photo in a.photo %}
					<div><img src = "{{ photo.source }}" /></div>
				{% endfor %}

			{% endfor %}

		</div>

	</section>

{% endblock%}

