{% extends "main.twig" %}

{% block head %}
	
	<meta name = "description" content = "Page qui affiche tous les annonces appartenant à une categorie" />
	<link rel = "stylesheet" href = "/css/ie.css" />

{% endblock %}

{% block main_content %}

	<section>
		
		{% if cat == null %}
			<h1>Recherche</h1>

			{% else %}
				<h1>Résultats</h1>

		{% endif %}
		

	<div>
		<div id = "formRecherche">
			
			<form action = "{{ search }}" method = "get" role = "form">

				<label for = "categorie">Categorie</label>
				<select class = "form-control" name  = "typeCat">
					
					<option value = "none" selected = "selected">None</option>
					
					{% for categorie in categories %}

						{% if cat == categorie.categorie %}
							
						<option value = "{{ categorie.categorie }}" selected = "selected">{{ categorie.categorie }}</option>

							{% else %}
									<option value = "{{ categorie.categorie }}">{{ categorie.categorie }}</option>	

						{% endif %}

					{% endfor %}

					
				</select>

				<label>Tarif < à</label>
				<input class = "form-control" type = "text" id = "tarif" name = "tarif" />

				<label>Terme: </label>
				<input class = "form-control" type = "text" id = "terme" name = "terme" />

				<input class = "btn btn-primary" type = "submit" value = "Rechercher" />
			</form>	

		</div>			

		<div id = "listeResultats">
			
			{% if cat != null %}

				{% if annoncesByCategorie == false or annoncesByCategorie|length < 1%}

				<p id = "messageError">Il n'y a pas aucun résultat</p>

				{% else %}

					{% for annonce in annoncesByCategorie %}

						<a href = "{{detaille}}{{annonce.id_annonce}}">
							<div class = "thumbnail annonceByCategorie" >
										
								<p>{{ annonce.titre }}</p>
								<img src = "{{ annonce.photo_principal }}" title = "{{ annonce.titre }}" alt = "{{ annonce.descr }}" />

								<p>
									Prix: {{ annonce.prix }}<br />
									Ville: {{ annonce.ville }}<br />
									Code Postal: {{ annonce.cp }}<br />
								</p>
								<p>
									{{ annonce.descr|slice(0, 80) }} ...
								</p>
							</div>
						</a>						

				{% endfor %}

			{% endif %}

			{% endif %}

		</div>
	</div>

	</section>

{% endblock %}