{% extends "main.twig" %}

{% block head%}

	<meta name = "descriptioin" content = "Page d'erreur d'une annonce non trouvée" />
	<link rel = "stylesheet" href = "../css/bootstrap.min.css" />
	<link rel = "stylesheet" href = "../css/erreur.css" />
{% endblock %}

{% block main_content %}

	<section>
		<div><h1>Erreur</h1></div>
		<p>L'annonce n'existe pas :)</p>
	</section>

{% endblock %}