{% extends "main.twig" %}
{% block head %}
	
	<meta name = "description" content = "Page d'insertion d'une nouvelle annocne" />
	<link rel="stylesheet" href="/css/form.css"/>

{% endblock %}

{% block main_content %}

	<section>
		<h1>AJOUTER UN ANNONCE</h1>
	<form action="{{insert}}" method="POST" enctype="multipart/form-data">
	<div id="annonce">

		<h2>ANNONCE</h2>

		<label>Titre
		<input type="text" name="titre"/>
		</label>

		<label>Ville
		<input type="text" name="ville"/>
		</label>

		<label>Code postal
		<input type="text" name="code_postal"/>
		</label>

		<label>Categorie<br/>
			<select name="categorie">
				{% for cat in categorie %}
					<option value = "{{cat.id_categorie}}"> {{cat.categorie}}</option>
				{% endfor %}
			</select>
		</label>

		<label>Tarif
		<input type="text" name="tarif"/>
		</label>


		<label>
		<textarea id="des" name="description" rows="6" cols="50" placeholder="Description"></textarea>
		</label>
	</div>

	<div id="annonceur">

		<h2>ANNONCEUR</h2>

		<label>Teléphone
		<input type="text" name="teléphone"/>
		</label>

		<label>Mail
		<input type="text" name="mail"/>
		</label>

		<label>Mot de passe
		<input type="password" name="key"/>
		</label>

		<label>
		<input class = "btn btn-info" type="submit" name="créer" value="créer"/>
		</label>

		<input type="hidden" name = "token" id = "token" value="{{leTok}}"/>
	</div>
	</form>
<section>		

{% endblock %}