<header>

	<div>
		<img src = "/img/logo2.png">
	</div>

	<nav class = "navbar nav-tabs" role = "navigation">
		
		<ul class = "nav navbar-nav">
			
		{% for item in menu %}

			<li><a href="{{ item.href }}">{{ item.text }}</a></li>
			
		{% endfor %}
		</ul>

		{% if logged == true %}

			<p>Bienvenue: {{ mail }}</p>
			<p><a href = "/logout">Déconnexion</a></p>

		{% endif %}

	</nav>

</header>