{% extends "main.twig" %}

{% block head %}

	<meta name  = "description" content = "Page de login" />
	<link rel = "stylesheet" href = "/css/ie.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src = "/js/bootstrap.js"></script>

{% endblock %}

{% block main_content %}
	
	<section>
		
		<article>

			{% if error == true %}

				<div class="modal fade" id = "modal">
				 
				 	<div class="modal-dialog">
				   
				    		<div class="modal-content">
				     
							    <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							        <h1>Error</h1>
							    </div>
							    
							    <div class="modal-body">
							    	<p>Email / Pasword ne sont pas correctes</p>
							    </div>

				   			</div><!-- /.modal-content -->

				 	</div><!-- /.modal-dialog -->

				</div><!-- /.modal -->

				<script>
					$('#modal').modal('show');
				</script>

			{% endif %}

		
			<form method = "post" action = "{{ uri }}" class = "signup">
				
				<div class = "panel panel-primary">

					<div class = "panel-heading">
						<h3 class = "panel-title">Login</h3>
					</div>
					
					<div class = "panel-body">
						<label>Email:</label>
						<input class = "form-control" type = "email" id = "mail_usr" name = "mail_usr" />
				
						<label>Password:</label>
						<input class = "form-control" type = "password" id = "password_usr" name = "password_usr" />
					</div>

				</div>

				<div>
					<input class = "btn btn-info" type = "submit" id = "submit_login" value = "Login" />
					<a class = "btn btn-danger" href = "/">Cancel</a>
				</div>

				<input type = "hidden" name = "token" id = "token" value = "{{ token }}" />

			</form>

		</article>


	</section>

{% endblock %}