<!DOCTYPE html>
<html lang = "fr">
	<head>

		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		<title>Racoin.net</title>
		<link rel = "stylesheet" href = "/css/bootstrap.min.css" />
		{% block head %}

		{% endblock %}
	</head>
	<body>
		
		{% include "header.twig" %}

		{% block main_content %}
		{% endblock %}

		{% include "footer.twig" %}

	</body>
</html>