{% extends "main.twig" %}

{% block head %}
	
	<meta name = "description" content = "Page d'inscription -- creation d'une Compte Pro" />
	<link rel = "stylesheet" href = "/css/ie.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src = "/js/bootstrap.js"></script>
	<script>

		$(document).ready(function() {

			$('input[type="submit"]').attr("disabled", "disabled");


			$('#mail_user').keyup(function() {

				var mail = $("#mail_user").val();
				console.log(mail);

				$.ajax({

					type: "POST",
					url: "/checkMail",
					data: "mail_user="+mail,
					dataType: "html",
					success: function(data){

								if(data === "error"){
									$("#reponseEmail").empty();
									$("#reponseEmail").append("El email ya existe");
									$('input[type="submit"]').attr("disabled", "disabled");
								}
								else{
									$("#reponseEmail").empty();
									$("#reponseEmail").append("Correcto");
									$('input[type="submit"]').removeAttr("disabled");

								}

							}
				});
			});
		});


	</script>

{% endblock %}

{% block main_content %}

	<section>
		
		<article>
			
			{% if errors != null %}

				<div class="modal fade" id = "modal">
				 
				 	<div class="modal-dialog">
				   
				    		<div class="modal-content">
				     
							    <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							        <h1>Errors</h1>
							         <h2>Veuillez-vous renseigner tous les champs</h2>
							    </div>
							    
							    <div class="modal-body">
							        {% for e in errors.errors %}
							        	<li>
							        		{{ e }}
							        	</li>
							        {% endfor %}
							    </div>

				   			</div><!-- /.modal-content -->

				 	</div><!-- /.modal-dialog -->

				</div><!-- /.modal -->

				<script>
					$('#modal').modal('show');
				</script>

			{% endif %}

			<form id = "formSignup" class = "signup" method = "post" action = "{{ url_post }}" >

				<div class = "panel panel-primary">
					<div class = "panel-heading">
							<h3 class = "panel-title">Coordonnées</h3>
					</div>
					<div class = "panel-body">
						
						{% if errors != null %}

								{% for param in errors.params %}

									{% if param.id == 'tel_user' %}

										<label for = "{{ param.id }}">{{ param.titre|upper }}:</label>
										<input class = "form-control" type = "tel" name = "{{ param.id }}" id = "{{ param.id }}" required = "required" value = "{{ param.valeur }}" />

										{% elseif param.id != 'mail_user' %}
											<label for = "{{ param.id }}">{{ param.titre|upper }}:</label>
											<input class = "form-control" type = "text" name = "{{ param.id }}" id = "{{ param.id }}" required = "required" value = "{{ param.valeur }}" />

									{% endif %}

								{% endfor %}

							{% else %}
								<label for = "nom_user">NOM:</label>
								<input class = "form-control" type = "text" name = "nom_user" id = "nom_user" required = "required" />

								<label for = "prenom_user">PRÉNOM:</label>
								<input class = "form-control" type = "text" name = "prenom_user" id = "prenom_user" required = "required" />

								<label for = "tel_user">TEL:</label>
								<input class = "form-control" type = "tel" name = "tel_user" id = "tel_user" required = "required" />

								<label for = "adress_user">ADRESSE:</label>
								<input class = "form-control" type = "text" name = "adress_user" id = "adress_user" required = "required" />

						{% endif %}

						<label for = "category">Categorie Préférée:</label>
						<select class = "form-control" name = "category">

							{% for cat in categories %}
								<option value = "{{ cat.id_categorie }}">{{ cat.categorie }}</option>
							{% endfor %}

						</select>
					</div>
					
				</div>

				<div class = "panel panel-primary">
					<div class = "panel-heading">
							<h2 class = "panel-title">Identifiant</h2>
					</div>
					<div class = "panel-body">		

						{% if errors != null %}

								{% for p in errors.params %}

									{% if p.id == 'mail_user' %}
										<label for = "{{ p.id }}">E{{ p.titre|upper }}:</label>
										<input class = "form-control" type = "email" name = "{{ p.id }}" id = "{{ p.id }}" require = "required" value = "{{ p.valeur }}" />

									{% endif %}

								{% endfor %}

							{% else %}
								<label for = "mail_user">EMAIL:</label>
								<input class = "form-control" type = "email" name = "mail_user" id = "mail_user" require = "required" />

						{% endif %}

						<span id = "reponseEmail"></span>

						<label for = "password">Password:</label>
						<input class = "form-control" type = "password" name = "password_user" id = "password_user" required = "required" />
						
					</div>
				</div>

				<input type = "hidden" name = "token" id = "token" value = "{{ token }}" />

				<input class = "btn btn-info" type = "submit" value = "Signup" />
				<a class = "btn btn-danger" href = "/">Cancel</a>
				
			</form>

		</article>

	</section>


{% endblock %}