{% extends "main.twig" %}

{% block head %}
	
	<meta name = "description" content = "Page de modification d'une annonce, Racoin.net" />
	<link rel = "stylesheet" href = "/css/ie.css" />

{% endblock %}

{% block main_content %}

	<section>

		<article>
						
			{% for a in annonce %}
					
				<form action = "{{ put }}{{ a.id_annonce }}" method = "post">
					
					<label for = "nom" >Nom de l'annonce: </label><br /><br />
					<input class = "form-control" type = "text" id = "nom" name = "nom" value = "{{ a.titre }}" />

					<label for = "tarAnnonce">Tarif de l'annonce: </label><br /><br />
					<input class = "form-control" type = "text" id = "tarAnnonce" name = "tarAnnonce" value = "{{ a.prix }}" />

					<label for = "villeAnnonce">Ou êtes-vous?</label><br /><br />
					<input class = "form-control" type = "text" id = "villeAnnonce" name = "villeAnnonce" value = "{{ a.ville }}"/>

					<label for = "codePostal">Quelle est vôtre code postal?</label><br /><br />
					<input class = "form-control" type = "text" id = "codePostal" name = "codePostal" value = "{{ a.cp }}" />

					<label for = "typeCat">Types de categories</label><br /><br />
					<select class = "form-control" name = "typeCat">
						
						{% for cat in categories %}				

							{% if a.id_categorie == cat.id_categorie%}
								<option value = "{{ a.id_categorie }}" selected = "selected">{{ a.categorie.categorie }}</option>

								{% else %}
								<option value = "{{ cat.id_categorie }}">{{ cat.categorie }}</option>
							{% endif%}

						{% endfor%}

					</select>

					<label for = "description">Decrivez-vous vôtre annonce :)</label><br /><br />
					<textarea class = "form-control" id = "description" name = "description" rows = "5" cols = "50">{{ a.descr }}</textarea>
					<br /><br />

					<input type = "hidden" name = "_METHOD" value = "PUT" />
					<input type = "hidden" name = "token" id = "token" value = "{{ token }}" />
					
					<div>
						<input class = "btn btn-info" type = "submit" value = "Sauvegarder" />
						<a class = "btn btn-danger" href = "{{ annuler }}{{ a.id_annonce }}">Annuler</a><br /><br />
					</div>

				</form>

			{% endfor %}

		</article>

	</section>

{% endblock%}